In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

/Users/anthonychen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [7]:
#set the URL we want to scrape (college basketball)
url = 'https://www.sports-reference.com/cbb/players/mohamed-bamba-1/gamelog/2018'
page = requests.get(url)
#Look for a 200 response- success
page

In [8]:
#pass our request's content into beautiful soup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

In [9]:
#stats we want to pull
stats = ['game_season', 'date_game', 'age', 'team_id', 'game_location', 'opp_id', 'game_result','gs', 'mp', 'fg',
         'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb',
         'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'game_score', 'plus_minus']

stats_list = [[td.getText() for td in soup.findAll('td', {'data-stat': stat})] for stat in stats]

In [10]:
player_df=pd.DataFrame(stats_list).T.head(10)
player_df.columns=stats
player_df

,game_season,date_game,age,team_id,game_location,opp_id,game_result,gs,mp,fg,...,drb,trb,ast,stl,blk,tov,pf,pts,game_score,plus_minus
0,None,None,None,None,None,None,W,None,23,6,...,6,8,2,1,4,1,2,15,None,None
1,None,None,None,None,None,None,W,None,19,5,...,6,10,0,1,5,2,4,13,None,None
2,None,None,None,None,None,None,W,None,32,2,...,8,12,1,1,4,3,3,6,None,None
3,None,None,None,None,None,None,L,None,26,3,...,10,10,0,0,2,1,5,9,None,None
4,None,None,None,None,None,None,L,None,34,4,...,7,10,0,1,5,4,4,9,None,None
5,None,None,None,None,None,None,W,None,29,4,...,4,8,1,2,4,1,0,10,None,None
6,None,None,None,None,None,None,W,None,33,5,...,8,13,0,1,4,1,4,13,None,None
7,None,None,None,None,None,None,L,None,35,4,...,9,10,0,1,4,2,1,10,None,None
8,None,None,None,None,None,None,W,None,18,5,...,8,9,0,0,5,1,4,14,None,None
9,None,None,None,None,None,None,W,None,32,1,...,4,7,0,0,4,1,3,4,None,None

In [11]:
#parsed stats
player_df[player_df.columns[player_df.notnull().any()]]

,game_result,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,W,23,6,9,.667,0,2,.000,3,4,.750,2,6,8,2,1,4,1,2,15
1,W,19,5,8,.625,1,3,.333,2,4,.500,4,6,10,0,1,5,2,4,13
2,W,32,2,5,.400,0,2,.000,2,2,1.000,4,8,12,1,1,4,3,3,6
3,L,26,3,7,.429,0,2,.000,3,4,.750,0,10,10,0,0,2,1,5,9
4,L,34,4,10,.400,0,1,.000,1,2,.500,3,7,10,0,1,5,4,4,9
5,W,29,4,9,.444,1,3,.333,1,3,.333,4,4,8,1,2,4,1,0,10
6,W,33,5,9,.556,0,0,,3,6,.500,5,8,13,0,1,4,1,4,13
7,L,35,4,10,.400,1,3,.333,1,2,.500,1,9,10,0,1,4,2,1,10
8,W,18,5,7,.714,0,1,.000,4,8,.500,1,8,9,0,0,5,1,4,14
9,W,32,1,8,.125,0,0,,2,3,.667,3,4,7,0,0,4,1,3,4