In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

/Users/anthonychen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
#set the URL we want to scrape
url = 'https://www.basketball-reference.com/players/a/antetgi01.html/gamelog/2019/'
page = requests.get(url)
#Look for a 200 response- success
page

In [3]:
#pass our request's content into beautiful soup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

In [4]:
#stats we want to pull
stats = ['game_season', 'date_game', 'age', 'team_id', 'game_location', 'opp_id', 'game_result','gs', 'mp', 'fg',
         'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb',
         'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'game_score', 'plus_minus']

stats_list = [[td.getText() for td in soup.findAll('td', {'data-stat': stat})] for stat in stats]

In [6]:
player_df=pd.DataFrame(stats_list).T.head(10)
player_df.columns=stats
player_df

,game_season,date_game,age,team_id,game_location,opp_id,game_result,gs,mp,fg,...,drb,trb,ast,stl,blk,tov,pf,pts,game_score,plus_minus
0,None,None,19,MIL,None,None,None,23,1897,173,...,261,339,150,60,61,122,173,525,None,None
1,None,None,20,MIL,None,None,None,71,2541,383,...,442,542,207,73,85,173,254,1030,None,None
2,None,None,21,MIL,None,None,None,79,2823,513,...,499,612,345,94,113,208,258,1350,None,None
3,None,None,22,MIL,None,None,None,80,2845,656,...,558,700,434,131,151,234,246,1832,None,None
4,None,None,23,MIL,None,None,None,75,2756,742,...,597,753,361,109,106,223,231,2014,None,None
5,None,None,24,MIL,None,None,None,72,2358,721,...,739,898,424,92,110,268,232,1994,None,None
6,None,None,25,MIL,None,None,None,63,1917,685,...,716,856,354,61,66,230,195,1857,None,None
7,None,None,26,MIL,None,None,None,61,2013,626,...,574,671,357,72,73,207,168,1717,None,None
8,None,None,27,MIL,None,None,None,67,2204,689,...,644,778,388,72,91,219,212,2002,None,None
9,None,None,28,MIL,None,None,None,55,1784,614,...,527,652,302,41,43,216,178,1728,None,None