In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

/Users/anthonychen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [10]:
#set the URL we want to scrape (college basketball)
url = 'https://www.sports-reference.com/cbb/players/deandre-ayton-1/gamelog/2018'
page = requests.get(url)
#Look for a 200 response- success
page

In [11]:
#pass our request's content into beautiful soup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

In [12]:
#stats we want to pull
stats = ['game_season', 'date_game', 'age', 'team_id', 'game_location', 'opp_id', 'game_result','gs', 'mp', 'fg',
         'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb',
         'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'game_score', 'plus_minus']

stats_list = [[td.getText() for td in soup.findAll('td', {'data-stat': stat})] for stat in stats]

In [13]:
player_df=pd.DataFrame(stats_list).T.head(10)
player_df.columns=stats
player_df

,game_season,date_game,age,team_id,game_location,opp_id,game_result,gs,mp,fg,...,drb,trb,ast,stl,blk,tov,pf,pts,game_score,plus_minus
0,None,None,None,None,None,None,W,None,30,6,...,10,12,1,0,3,2,2,19,None,None
1,None,None,None,None,None,None,W,None,33,9,...,10,13,1,1,2,1,1,19,None,None
2,None,None,None,None,None,None,W,None,25,6,...,9,10,3,2,0,1,3,18,None,None
3,None,None,None,None,None,None,L,None,34,7,...,10,14,1,2,0,2,0,27,None,None
4,None,None,None,None,None,None,L,None,31,6,...,12,15,2,0,2,3,4,17,None,None
5,None,None,None,None,None,None,L,None,30,10,...,5,8,0,0,1,1,5,22,None,None
6,None,None,None,None,None,None,W,None,25,6,...,8,9,3,0,0,2,3,13,None,None
7,None,None,None,None,None,None,W,None,39,12,...,6,10,1,1,3,1,3,28,None,None
8,None,None,None,None,None,None,W,None,35,4,...,8,10,3,0,1,2,3,13,None,None
9,None,None,None,None,None,None,W,None,36,12,...,12,18,1,0,1,2,1,29,None,None

In [20]:
#parsed stats
player_df[player_df.columns[player_df.notnull().any()]]

,game_result,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,W,30,6,11,.545,0,2,.000,7,8,.875,2,10,12,1,0,3,2,2,19
1,W,33,9,13,.692,0,0,,1,3,.333,3,10,13,1,1,2,1,1,19
2,W,25,6,11,.545,1,4,.250,5,6,.833,1,9,10,3,2,0,1,3,18
3,L,34,7,12,.583,1,4,.250,12,17,.706,4,10,14,1,2,0,2,0,27
4,L,31,6,11,.545,0,1,.000,5,6,.833,3,12,15,2,0,2,3,4,17
5,L,30,10,14,.714,1,2,.500,1,4,.250,3,5,8,0,0,1,1,5,22
6,W,25,6,6,1.000,1,1,1.000,0,0,,1,8,9,3,0,0,2,3,13
7,W,39,12,23,.522,1,3,.333,3,4,.750,4,6,10,1,1,3,1,3,28
8,W,35,4,9,.444,0,2,.000,5,6,.833,2,8,10,3,0,1,2,3,13
9,W,36,12,18,.667,1,2,.500,4,8,.500,6,12,18,1,0,1,2,1,29